<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Логин</th>
        <th scope="col">Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users|orderBy:userName">
        <th scope="row">{{$index + 1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.roles}}</td>
    </tr>
    </tbody>
</table>
<ul ng-if="totalItems > itemsPerPage" uib-pagination boundary-link-numbers="true" total-items="totalItems"
    ng-change="pageChanged()"
    ng-model="currentPage" max-size="5" class="pagination-sm" direction-links="false"
    items-per-page="itemsPerPage"></ul>
