<div class="mt-3">
    <strong>{{post.createdDate|date:'dd.MM.yyyy в hh:mm'}}</strong>
    <h1 class="font-weight-bold">{{post.title}}</h1>
</div>
<p compile="post.content" class="mt-3"></p>
<ul class="d-inline-flex list-inline">
    <li ng-if="post.liked" class="list-inline-item">
        <i ng-click="dislike(post)" class="text-primary fa fa-thumbs-down"></i>
    </li>
    <li class="list-inline-item">
        <i ng-if="!post.liked" ng-click="like(post)" class="text-primary fa fa-thumbs-up"></i>
        <strong>{{post.likesCount}}</strong>
    </li>
    <li class="list-inline-item pl-3">
        <i class="text-primary fa fa-comment"></i>
        <strong>{{comments.length}}</strong>
    </li>
    <li access="ROLE_ADMIN" class="list-inline-item pl-3 mt-1">
        <i ng-click="editPost(post)" class="text-primary fa fa-edit"></i>
    </li>
</ul>
<div class="mt-3">
    <h1 class="font-weight-bold">Комментарии {{comments.length}}</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0" ng-repeat="comment in comments|orderBy:createdDate">
            <div class="d-flex w-100 justify-content-start mb-3">
                <strong class="text-info">{{comment.nickName}}</strong>
                <strong class="pl-3">{{comment.createdDate|date:'dd.MM.yyyy в hh:mm'}}</strong>
                <ul class="pl-3 pt-1 list-inline">
                    <li class="list-inline-item">
                        <i ng-if="canEdit(comment)" ng-click="editComment(comment)" class="text-primary fa fa-edit"></i>
                    </li>
                </ul>
            </div>
            <p compile="comment.content" class="mb-1"></p>
        </li>
    </ul>
</div>
<ul ng-if="totalItems > itemsPerPage" uib-pagination boundary-link-numbers="true" total-items="totalItems"
    ng-change="pageChanged()"
    ng-model="currentPage" max-size="5" class="pagination-sm mt-2" direction-links="false"
    items-per-page="itemsPerPage"></ul>

<form name="commentForm">
    <div class="form-group">
        <label class="h4 font-weight-bold" for="commentTextarea">Написать комментарий</label>
        <textarea ng-model="newComment.content" class="form-control w-75" id="commentTextarea" rows="3"></textarea>
        <div class="btn-toolbar mt-2 mb-3">
            <button type="button" ng-if="authenticated" class="btn btn-primary"
                    ng-click="saveComment(commentForm.$valid)">Опубликовать
            </button>
            <button type="button" ng-if="!authenticated" data-toggle="tooltip"
                    name="Войдите, чтобы оставлять комментарии"
                    class="btn btn-primary" disabled>Опубликовать
            </button>
        </div>
    </div>
</form>

<div class="modal fade" id="editCommentDialog" tabindex="-1" role="dialog"
     aria-labelledby="editCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" role="form" name="editCommentForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="editCommentModalLabel">
                        Редактирование комментария
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editCommentTextArea">Комментарий</label>
                        <textarea ng-model="editComment.content" id="editCommentTextArea" class="form-control"
                                  type="text" rows="8"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="saveEditComment(editCommentForm.$valid)" type="button"
                            class="btn btn-primary">
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Отменить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>