<h1 class="font-weight-bold text-center mt-3">{{category.name}}</h1>
<button type="button" access="ROLE_ADMIN" ng-click="add()"
        class="mt-3 btn btn-outline-primary btn-block">
    Добавить новый пост
</button>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item" ng-repeat="post in posts|orderBy:createdDate">
        <div class="d-flex w-100 justify-content-start">
            <strong>{{post.createdDate|date:'dd.MM.yyyy в hh:mm'}}</strong>
        </div>
        <div class="mt-3">
            <h1 class="font-weight-bold">{{post.title}}</h1>
            <p compile="post.content"></p>
            <a href="#/categories/{{category.id}}/posts/{{post.id}}" class="btn mt-3 btn-outline-primary btn-sm">
                Читать дальше →
            </a>
        </div>

        <ul class="mt-3 d-inline-flex list-inline">
            <li ng-if="post.liked" class="list-inline-item">
                <i ng-click="dislike(post)" class="text-primary fa fa-thumbs-down"></i>
            </li>
            <li class="list-inline-item">
                <i ng-if="!post.liked" ng-click="like(post)" class="text-primary fa fa-thumbs-up"></i>
                <strong>{{post.likesCount}}</strong>
            </li>
            <li class="list-inline-item pl-3">
                <i class="text-primary fa fa-comment"></i>
                <strong>{{post.commentsCount}}</strong>
            </li>
        </ul>
    </li>
</ul>
<ul ng-if="totalItems > itemsPerPage" uib-pagination boundary-link-numbers="true" total-items="totalItems"
    ng-change="pageChanged()"
    ng-model="currentPage" max-size="5" class="pagination-sm mt-2" direction-links="false"
    items-per-page="itemsPerPage"></ul>