<form ng-submit="signUp(signUpForm.$valid)" name="signUpForm" novalidate>
    <div ng-class="{'has-error':somethingWentWrong}">
        <p class="help-block" ng-show="somethingWentWrong">Что то пошло не так!</p>
    </div>
    <div class="form-group" ng-class="{'has-error':(signUpForm.userName.$invalid && (signUpForm.userName.$touched || submitted)) || userNameExist}">
        <label for="userName">Логин:</label>
        <input type="text" class="form-control" id="userName" name="userName" ng-model="newUser.userName" ng-change="checkUsername()" ng-model-options='{ debounce: 1000 }' ng-required="true">
        <p class="help-block" ng-show="signUpForm.userName.$invalid && (signUpForm.userName.$touched || submitted)">Введите логин!</p>
        <p class="help-block" ng-show="userNameExist">Такой логин уже существует!</p>
    </div>
    <div class="form-group" ng-class="{'has-error':signUpForm.password.$invalid && (signUpForm.password.$touched || submitted)}">
        <label for="password">Пароль:</label>
        <div class="input-group">
            <input type="{{inputPasswordType}}" class="form-control" id="password" name="password" ng-model="newUser.password" ng-required="true">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="hideShowPassword()">
                    <i ng-if="inputPasswordType == 'password'" class="glyphicon glyphicon-eye-open"></i>
                    <i ng-if="inputPasswordType == 'text'" class="glyphicon glyphicon-eye-close"></i>
                </button>
            </div>
        </div>
        <p class="help-block" ng-show="signUpForm.password.$invalid && (signUpForm.password.$touched || submitted)">Введите пароль!</p>
    </div>

    <div class="form-group" ng-class="{'has-error':(signUpForm.confirmPassword.$invalid && (signUpForm.confirmPassword.$touched || submitted)) || (newUser.password != newUser.confirmPassword)}">
        <label for="confirmPassword">Повторите пароль:</label>
        <input type="{{inputPasswordType}}" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="newUser.confirmPassword" ng-required="true">
        <p class="help-block" ng-show="signUpForm.confirmPassword.$invalid && (signUpForm.confirmPassword.$touched || submitted)">Подтвердите пароль!</p>
        <p class="help-block" ng-show="newUser.password != newUser.confirmPassword">Пароли не совпадают</p>
    </div>

    <button type="submit" class="btn btn-success">Зарегестрироваться</button>
</form>