<form ng-submit="signIn(signInForm.$valid)" name="signInForm" novalidate>
    <div ng-class="{'has-error':userNameOrPasswordError}">
        <p class="help-block" ng-show="userNameOrPasswordError">Логин или пароль введены неправильно!</p>
    </div>
    <div class="form-group"
         ng-class="{'has-error':signInForm.userName.$invalid && (signInForm.userName.$touched || submitted)}">
        <label for="userName">Логин:</label>
        <input type="text" class="form-control" id="userName" name="userName" ng-model="user.userName">
        <p class="help-block" ng-show="signInForm.userName.$invalid && (signInForm.userName.$touched || submitted)">
            Введите логин!</p>
    </div>
    <div class="form-group"
         ng-class="{'has-error':signInForm.password.$invalid && (signInForm.password.$touched || submitted)}">
        <label for="password">Пароль:</label>
        <div class="input-append input-group">
            <input class="form-control" type="{{inputPasswordType}}" id="password" name="password" ng-model="user.password">
            <span class="add-on input-group-addon" style="cursor: pointer;" ng-click="hideShowPassword()">
                <i ng-if="inputPasswordType == 'password'" class="glyphicon glyphicon-eye-open"></i>
                <i ng-if="inputPasswordType == 'text'" class="glyphicon glyphicon-eye-close"></i>
            </span>
        </div>
        <p class="help-block" ng-show="signInForm.password.$invalid && (signInForm.password.$touched || submitted)">
            Введите пароль!</p>
    </div>

    <button type="submit" class="btn btn-success">Войти</button>
    <button type="button" class="btn btn-primary" ng-click="gotoSignUp()">Регистрация</button>
</form>