html {
    position: relative;
    min-height: 100%;
}

.hidden {
    display: none !important;
}

.mt-5-5 {
    margin-top: 3.5em !important;
}

body {
    background-color: #ffffff;
    font-family: 'PT Mono', sans-serif;
    overflow-x: hidden;
    margin-bottom: 104px;
}

.h-100 {
    height: calc(100% - 73px) !important;
}

i {
    cursor: pointer;
}

.hljs {
    background-color: #e5e9eb;
}

.border {
    border: 3px solid #e5e9eb !important;
}

.animate-right {
    animation: animateright 2.0s
}

@keyframes animateright {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.text-lg {
    font-size: 18px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 104px;
    background-color: #f7f7f7;
}

.cursor-pointer {
    cursor: pointer;
}

.has-error {
    color: red;
}

.comment-content {
    font-size: 1rem;
}

.post-content {
    font-size: 1rem;
}

.category-description {
    font-size: 1rem;
}

.blog-icon {
    font-size: 1rem;
}

.posts-count {
    font-size: 1rem;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    h1, .h1 {
        font-size: 5rem;
    }
    h3, .h3 {
        font-size: 3.5rem;
    }
    h4, .h4 {
        font-size: 3rem;
    }
    h5, .h5 {
        font-size: 2.5rem;
    }
    .footer {
        height: 140px;
    }
    body {
        font-size: 2rem;
    }
    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }
    .icon3 {
        font-size: 3rem;
    }
    .btn {
        font-size: 2rem;
    }
    .form-control {
        font-size: 3rem;
    }
    .comment-content {
        font-size: 3rem;
    }
    .post-content {
        font-size: 3rem;
    }
    .blog-icon {
        font-size: 3rem;
    }
    .category-description {
        font-size: 3rem;
    }
    .posts-count {
        font-size: 2rem;
    }
}