.hidden {
    display: none;
}

.mt-5-5 {
    margin-top: 3.5em !important;
}

body {
    background-color: #ffffff;
    font-family: 'PT Mono', sans-serif;
}

.h-100 {
    height: calc(100% - 73px) !important;
}

i {
    cursor: pointer;
}

.hljs {
    background-color: #e5e9eb;
}

.border {
    border: 3px solid #e5e9eb !important;
}

.animate-right {
    position: relative;
    animation: animateright 2.0s
}

@keyframes animateright {
    from {
        right: -100%;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.social-buttons-item .social-buttons-list {
    display: block;
}

.social-buttons {
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.social-buttons-content {
    position: fixed;
}