.hidden {
    display: none;
}

.mt-5-5 {
    margin-top: 3.5em !important;
}

body {
    background-color: #ffffff;
    font-family: 'PT Mono', sans-serif;
}

.h-100 {
    height: calc(100% - 73px) !important;
}

i {
    cursor: pointer;
}

.hljs {
    background-color: #e5e9eb;
}

.border {
    border: 3px solid #e5e9eb!important;
}
