html {
    position: relative;
    min-height: 100%;
}

.hidden {
    display: none;
}

.mt-5-5 {
    margin-top: 3.5em !important;
}

body {
    background-color: #ffffff;
    font-family: 'PT Mono', sans-serif;
    overflow-x: hidden;
    margin-bottom: 104px;
}

.h-100 {
    height: calc(100% - 73px) !important;
}

i {
    cursor: pointer;
}

.hljs {
    background-color: #e5e9eb;
}

.border {
    border: 3px solid #e5e9eb !important;
}

.animate-right {
    animation: animateright 2.0s
}

@keyframes animateright {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-lg {
    font-size: 18px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 104px;
    background-color: #f7f7f7;
}

.cursor-pointer {
    cursor: pointer;
}