.fixed-action-btn {
    bottom: 45px;
    right: 24px;
    position: fixed;
    z-index: 998;
}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-circle.btn-lg {
    width: 61px;
    height: 61px;
}

.hidden {
    display: none;
}