<div class="animate-right">
    <button type="button" access="ROLE_ADMIN" ng-click="editAboutMe(aboutMe)" class="mt-3 btn btn-outline-primary btn-block">
        Редактировать
    </button>
    <h4 class="font-weight-bold mt-3">ФИО</h4>
    <h5 class="animate-right mb-0">{{aboutMe.fio}}</h5>

    <h4 class="font-weight-bold mt-3">Дата рождения</h4>
    <h5 class="animate-right mb-0">{{aboutMe.dateOfBirth|date:'longDate'}}</h5>

    <h4 class="font-weight-bold mt-3">Место проживания</h4>
    <h5 class="mb-0 animate-right ">{{aboutMe.placeOfResidence}}</h5>

    <h4 class="font-weight-bold mt-3">Должность</h4>
    <h5 class="animate-right mb-0">{{aboutMe.post}}</h5>
</div>

<div class="mt-5 animate-right">
    <button type="button" access="ROLE_ADMIN" ng-click="addSkill(aboutMe)" class="btn btn-outline-primary btn-block">
        Добавить навык
    </button>
    <h4 class="font-weight-bold mt-3">Что я знаю</h4>
    <div>
        <div ng-repeat="skill in aboutMe.skills">
            <div class="animate-right skillbar">
                <strong class="skillbar-title">{{skill.name}}</strong>
                <strong class="skill-bar-percent">{{skill.percentage}}%</strong>
                <div class="skillbar-bar bg-primary" style="width: {{skill.percentage}}%;"></div>
            </div>
            <ul class="mt-2 list-inline d-inline-flex">
                <li access="ROLE_ADMIN" class="list-inline-item">
                    <i ng-click="removeSkill(skill)" class="text-primary fa fa-times"></i>
                </li>
                <li access="ROLE_ADMIN" class="list-inline-item pl-3">
                    <i ng-click="editSkill(skill)" class="text-primary fa fa-edit"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="editAboutMe.html">
    <div class="modal-header">
        <h4 class="modal-title" id="editableAboutMeModalLabel">
            Редактирование обо мне
        </h4>
        <button type="button" class="close" ng-click="dismiss()"
                aria-hidden="true">&times;
        </button>
    </div>
    <div class="modal-body">
        <form name="editAboutMeForm" novalidate>
            <div class="form-group">
                <label for="placeOfResidence">Место проживания:</label>
                <input id="placeOfResidence" class="form-control" type="text" name="placeOfResidence"
                       ng-model="aboutMe.placeOfResidence" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="post">Должность:</label>
                <input id="post" class="form-control" type="text" name="post"
                       ng-model="aboutMe.post" ng-required="true"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" type="button" class="btn btn-primary">
            Сохранить
        </button>
        <button type="button" ng-click="cancel()" class="btn btn-default">
            Отменить
        </button>
    </div>
</script>

<script type="text/ng-template" id="createOrEditSkill.html">
    <div class="modal-header">
        <h4 class="modal-title" id="addSkillModalLabel">
            Добавление навыка
        </h4>
        <button type="button" class="close" ng-click="dismiss()"
                aria-hidden="true">&times;
        </button>
    </div>
    <div class="modal-body">
        <form class="form" role="form" name="skillForm">
            <div class="form-group">
                <label for="name">Название:</label>
                <input id="name" class="form-control" type="text" name="name"
                       ng-model="skill.name" ng-required="true"/>
                <div ng-messages="skillForm.name.$error"
                     ng-if="skillForm.name.$touched || submitted" style="color:red">
                    <p class="help-block" ng-message="required">Введите название!</p>
                </div>
            </div>
            <div class="form-group">
                <label for="percentage">Процент владения:</label>
                <input id="percentage" class="form-control" type="text" name="name"
                       ng-model="skill.percentage" ng-required="true"/>
                <div ng-messages="skillForm.percentage.$error"
                     ng-if="skillForm.percentage.$touched || submitted" style="color:red">
                    <p class="help-block" ng-message="required">Введите процент владения!</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" type="button" class="btn btn-primary">
            Сохранить
        </button>
        <button ng-click="cancel()" type="button" class="btn btn-default">
            Отменить
        </button>
    </div>
</script>