<div class="page-header mt-3">
    <small>{{post.nickName}} в {{post.createdDate|date:'dd.MM.yyyy в hh:mm'}}</small>
</div>
<h1>{{post.title}}</h1>
<p compile="post.content"></p>
<div>
    <button type="button" class="btn btn-sm btn-outline-primary border-0">
        <i class="fa fa-thumbs-up"></i>
    </button>
    {{post.likesCount}}
    <button type="button" class="ml-3 btn btn-sm btn-outline-primary border-0">
        <i class="fa fa-comment"></i>
    </button>
    {{comments.length}}
    <button type="button" ng-click="edit(post)" class="btn btn-sm btn-outline-primary border-0">
        <i class="fa fa-edit"></i>
    </button>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item" ng-repeat="comment in comments|orderBy:createdDate">
        <div class="d-flex w-100 justify-content-start mb-3">
            <small>{{comment.nickName}}</small>
            <small class="pl-1">{{comment.createdDate|date:'short'}}</small>
            <button type="button" class="btn btn-sm btn-light">
                <i class="text-secondary fa fa-edit"></i>
            </button>
        </div>
        <p class="mb-1">{{comment.content}}</p>
    </li>
</ul>
<ul ng-if="totalItems > itemsPerPage" uib-pagination boundary-link-numbers="true" total-items="totalItems"
    ng-change="pageChanged()"
    ng-model="currentPage" max-size="5" class="pagination-sm mt-2" direction-links="false"
    items-per-page="itemsPerPage"></ul>

<div class="form-group mt-3">
    <label for="commentTextarea">Написать комментарий</label>
    <textarea class="form-control w-75" id="commentTextarea" rows="3"></textarea>
    <div class="btn-toolbar mt-2 mb-3">
        <button type="button" ng-if="authenticated" class="btn btn-primary" ng-click="save()">Опубликовать</button>
        <button type="button" ng-if="!authenticated" data-toggle="tooltip" name="Войдите, чтобы оставлять комментарии"
                class="btn btn-primary" disabled>Опубликовать
        </button>
    </div>
</div>

<div class="modal fade" id="editCommentDialog" tabindex="-1" role="dialog"
     aria-labelledby="editCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" role="form" name="commentForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="editCommentModalLabel">
                        Редактирование биографии
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                            <textarea ng-model="biography" name="content" class="form-control" type="text"
                                      placeholder="Биография" rows="8">
                            </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="saveBiography(biographyForm.$valid)" type="button" class="btn btn-primary">
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Отменить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>