<div class="page-header">
    Новый пост
</div>
<form ng-submit="save(postForm.$valid)" name="postForm" novalidate>
    <div class="form-group" ng-class="{'has-error':postForm.title.$invalid && (postForm.title.$touched || submitted)}">
        <label for="title">Заголовок</label>
        <input id="title" class="form-control" type="text"
               placeholder="Зоголовок поста" ng-model="newPost.title" ng-required="true"/>
        <p class="help-block" ng-show="postForm.title.$invalid && (postForm.title.$touched || submitted)">Title is requiered!</p>
    </div>
    <div class="form-group" ng-class="{'has-error':postForm.content.$invalid && (postForm.content.$touched || submitted)}">
        <label for="content">Контент</label>
        <textarea id="content" class="form-control" type="text"
                  placeholder="Контент поста" ng-model="newPost.content" ng-required="true" rows="8" ng-minlength="15"></textarea>
        <p class="help-block" ng-show="postForm.content.$invalid && (postForm.content.$touched || submitted)">At least 15 chars</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Сохранить</button>
        <button type="button" ng-click="cancel()" class="btn btn-lg btn-default" data-dismiss="modal">Отменить</button>
    </div>

</form>