<div class="font-weight-bold text-center mt-3">
    <h1>Посты</h1>
</div>
<ul class="list-group list-group-flush mt-5">
    <li class="list-group-item" ng-repeat="post in posts|orderBy:createdDate">
        <h5>{{post.title}}</h5>
        <p>{{post.content}}</p>
        <a href="#/posts/{{post.id}}">
            <span class="glyphicon glyphicon-comment"></span>
        </a>
    </li>
</ul>
<ul uib-pagination boundary-link-numbers="true" total-items="totalItems" ng-change="pageChanged()"
    ng-model="currentPage" max-size="5" class="pagination-sm mt-2" direction-links="false"
    items-per-page="itemsPerPage"></ul>
<div class="fixed-action-btn">
    <button class="btn btn-success btn-circle btn-lg" ng-click="add()">
        <i class="fa fa-plus fa-lg"></i>
    </button>
</div>