<h1 class="text-center text-secondary">Проекты</h1>
<button type="button" access="ROLE_ADMIN" ng-click="add()" class="mb-3 btn btn-primary btn-lg btn-block">
    Добавить новый проект
</button>

<div class="card mb-3 w-50 mx-auto" ng-repeat="project in projects">
    <img class="card-img-top" ng-src="/api/file/logo/{{project.logoPath}}">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.description}}</p>
        <p class="card-text">
            <small class="text-muted">{{project.createdDate|date:'dd.MM.yyyy в hh:mm'}}</small>
        </p>
    </div>
</div>