<div class="row">
    <div class="w-50 mx-auto">
        <div class="font-weight-bold text-center mt-3 mb-3">
            <h1>Проекты</h1>
        </div>
        <button type="button" access="admin" ng-click="add()" class="mb-3 btn btn-primary btn-lg btn-block">
            Добавить новый проект
        </button>

        <div class="card mb-3" ng-repeat="project in projects">
            <img class="card-img-top h-50" ng-src="/api/file/logo/{{project.logoPath}}">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <p class="card-text">
                    <small class="text-muted">{{project.createdDate|date:'dd.MM.yyyy в hh:mm'}}</small>
                </p>
            </div>
        </div>
    </div>
</div>